version: "3.0"
services:
  fleet_manager:
    image: fleet_manager:dev
    container_name: fleet_manager
    restart: always
    build: .
    environment:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: ati_fleet
      PGTZ: Asia/Kolkata
      TZ: Asia/Kolkata
      FM_DATABASE_URI: postgresql://postgres:postgres@localhost
    expose:
     - 8001
     - 8002
    volumes:
      - .:/app/static
    depends_on:
      - db
    network_mode: host

  db:
    image: postgres:14.0
    container_name: fleet_db
    restart: always
    environment:
      - TZ=Asia/Kolkata
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ati_fleet
    expose:
      - 5432
    volumes:
      - ./psql/psql_backup:/var/lib/postgresql/data:rw
    network_mode: host

  reverseproxy:
    image: fm_nginx:1.23.3
    container_name: reverseproxy
    hostname: fm_rev_proxy
    restart: always
    expose:
      - 443
    volumes:
      - ./certs:/certs
    network_mode: host

  registry:
    restart: always
    image: registry:2
    container_name: fm_docker_registry
    expose:
      - 5000
    network_mode: host

  grafana:
    image: grafana/grafana:9.5.2
    container_name: fm_grafana
    restart: always
    user: "root:root"
    volumes:
      -  ./grafana_config/grafana.ini:/etc/grafana/grafana.ini
      -  ./grafana_config/datasources:/etc/grafana/provisioning/datasources
      -  ./grafana_config/dashboards:/etc/grafana/provisioning/dashboards
      -  ./grafana_config/dashboard_definitions/fleet_analytics.json:/var/lib/dashboards/fleet_analytics.json
    network_mode: host
