version: "3.0"
services:
  fleet_manager:
    image: fleet_manager:dev
    container_name: fleet_manager
    restart: always
    build: .
    ports:
      - '8002:8002'
    environment:
      PGHOST: db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
      FM_SERVER_IP: $FM_SERVER_IP
      DOCKER_REGISTRY_PORT: $DOCKER_REGISTRY_PORT
      PGDATABASE: ati_fleet
      PGTZ: Asia/Kolkata
      TZ: Asia/Kolkata
      FM_DATABASE_URI: postgresql://postgres:postgres@db 
    volumes:
      - .:/app/static
    expose:
      - 8001
      - 8002
    links:
      - db
    depends_on:
      - db
    network_mode: bridge

  db:
    image: postgres:14.0
    container_name: fleet_db
    restart: always
    environment:
      - TZ=Asia/Kolkata
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ati_fleet
    expose:
      - 5432
    network_mode: bridge

  reverseproxy:
    image: nginx:1.14.0
    container_name: reverseproxy
    hostname: fm_rev_proxy 
    ports:
      - "443:443"
    restart: always
    links:
      - fleet_manager
    network_mode: bridge
