**/*.pyc
.coverage
.ipynb_checkpoints/
.cache/
out/
.Python
build/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
bazel-*
.bazelrc
*.DS_Store*
**/.DS_Store*
.venv
**/__pycache__
.git
.env
.pytest_cache
logs/
static/
!static/certs
fm_plugins
misc/default_certs
