services:
  fleet_manager:
    image: fleet_manager
    container_name: fleet_manager
    restart: always
    build: .
    ports:
      - '8002:8002'
    environment:
      PGHOST: db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
    links:
      - db
    depends_on:
      - db
    network_mode: bridge

  db:
    image: postgres
    container_name: fleet_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    expose:
      - 5432
    network_mode: bridge
