[Unit]
Description=Run on host service - This will be used to run commands outside docker's context

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'exec ./run_on_host.sh'
Restart=always
WorkingDirectory=/home/<username>/static

[Install]
WantedBy=multi-user.target
